@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";

@import "abstracts/utilities";

@import "pages/home";
@import "pages/project-case-study";

@import "components/header";
@import "components/footer";
@import "components/skills";
@import "components/mouse-scroll";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d1950;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
  border-radius: 12px;
}
